
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
.main-page{
  background-color: rgb(245, 244, 244);
}
.ank {
  font-family: 'F37 Ginger Pro';
}

.nav-item{
  font-family: "Ubuntu",sans-serif;
}